@import "/assets/css/pages/atividades/activities.css";
@import "/assets/css/pages/contato/contact.css";
@import "/assets/css/pages/equipe/team.css";
@import "/assets/css/pages/home/home.css";
@import "/assets/css/pages/planos/plans.css";
@import "/assets/css/global/global.css";

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   width: 100vw;
   overflow-x: hidden;
   font-family: 'Roboto';
   color: var(--cor-branco);
   user-select: none;
}


