header {
    display: flex;
}

.logo-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 12rem;
    text-align: center;
    align-items: end;
    background: none;
}

.nav-home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 20;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 0 40px;
    background-color: #0000003b;
    transition: background-color 2s;
}

.links{
    display: flex;
    gap: 1rem; 
    padding: 0 40px;
    background-color: transparent;
    transition: background-color 2s;
}



.bi-telephone{
    background-color: transparent;
}

.links a {
    text-decoration: none;
    background: none;
    padding: 1rem;
    color: var(--cor-branco);
    transition: all 0.2s;
}

.links a:hover {
    transform: translateY(-3px);
}

/* menu-hamburguer */

.hamburguer{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 35px;
    height: 18px;
    cursor: pointer;
    gap: 4px;
}

.traco-h{
    background-color: var(--cor-branco);
    width: 100%;
    height: 2px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.hamburguer.active .traco-h:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburguer.active .traco-h:nth-child(2) {
    opacity: 0;
}

.hamburguer.active .traco-h:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

#home{
    position: relative;
    background-color: var(--cor-blackEscuro);
    height: 100vh;
    width: 100vw;
    max-height: 720px;
    padding: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.container-home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    gap: 1rem;
    grid-area: "left right";
}

.home-left{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 15%;
    margin-left: 7%;
    grid-area: "left";
    max-width: 100%;
}

.false-btn{
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: 0.3rem 0.5rem;
    align-items: center;
    gap: 0.3rem;
    background-color: var(--cor-blackClaro);
    border-radius: 13rem;
}

.false-btn img{
    background: radial-gradient(circle, #413e3e, #413e3e,#b0f432);
    border-radius: 50%;
    padding: 0.3rem;
    width: 1.5rem;
    height: 1.5rem;
}

.false-btn p{
    font-size: 16px;
    background-color: var(--cor-blackClaro);
}

.title-home{
    font-family: 'Oswald';
    font-size: 1.5rem;
    margin-top: 2rem;
}

.subtitle-home, .playlist-btn, .gym-datas{
    margin-top: 2rem;
}

.subtitle-home span{
    color: var(--cor-neon);
}

.playlist-btn{
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    gap: 12%;
}

.contact-us {
    font-size: 1rem;
    font-family: "Roboto";
    background-color: var(--cor-branco);
    border: none;
    cursor: pointer;
    font-weight: bold; 
    color: var(--cor-blackClaro); 
    padding: 0.8rem;
    border-radius: 1rem;
    transition: all 0.2s;
}

.contact-us:hover{
    transform: translateY(-3px);
    background-color: #dadada;
}

.contact-us .bi-whatsapp{
    color: var(--cor-blackEscuro);
    font-weight: bold;
    background: none;
}

.spotify-wrapper {
    display: inline-block; 
    vertical-align: top; 
    margin-left: 1rem;
}

.spotify{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0.3rem;
    border: none;
    cursor: pointer;
    color: var(--cor-branco);
}


.bi-spotify{
    margin-right: 0.5rem;
    font-size: 1.8rem;
    color: var(--cor-neon);
    background: none;
}

.spotify:hover{
    background-color: var(--cor-cinzaClaro);
    border-radius: 1rem;
}


.gym-datas{
    display: flex;
    margin-top: 3.5rem;
    align-items: center;
    justify-content: left;
    gap: 1rem;
}

.gym-datas div{
    display: flex;
    align-items: center;
}

.data{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.number{
    font-size: 2rem;
    font-weight: bold;
    font-family: "Oswald";
}

.traco{
    height: 1em; 
    border-left: 1px solid var(--cor-neon); 
    margin: 0 8px;
}

.home-right {
    position: relative;
    justify-content: right;
    bottom: 0;
    grid-area: "right";
}
.images-home {
    position: relative;
    bottom: 0;
}
.images-home img {
    position: absolute;
}

.blur-neon{
    position: absolute;
    width: 20rem;
    z-index: 0;
    height: 50vh;
    margin-top: 4rem;
    right: 0;
}

@keyframes animarFumaca {
    0% {
        filter: brightness(100%);
        transform: scale(1);
    }
    50% {
        filter: brightness(150%);
        transform: scale(1.2);
    }
    100% {
        filter: brightness(100%);
        transform: scale(1);
    }
}

@keyframes animarFumaca2 {
    0% {
      transform: translate(0, 0px);
    }
    50% {
      transform: translate(0, -60px);
    }
    100% {
      transform: translate(0, 0px);
    }
  }
@keyframes animarFumacaDuplicate {
    0% {
        transform: translate(40px, -135px);
    }
    25% {
        transform: translate(45px, -120px);
    }
    50% {
      transform: translate(45px, -120px);
    }
    100% {
      transform: translate(40px, -135px);
    }
  }


  @keyframes animarMen {
        0% {
          transform: translate(-5px, 0);
        }
        50% {
          transform: translate(-28px, 0);
        }
        100% {
          transform: translate(0, 0);
        }
    }

.fumaca1 {
    background-color: transparent;
    margin-top: 3.5rem;
    max-width: 60vw; 
    height: auto;
    min-height: 50vh;
    right: 0;
    animation: animarFumaca 58s ease-in-out infinite;
    overflow: hidden;
    z-index: 1;
}

.fumaca2{
    margin-top: 14rem;
    right: 0;
    max-width: 60vw; 
    height: auto;
    min-height: 80vh;
    animation: animarFumaca2 50s ease-in-out infinite;
    overflow: hidden;
    z-index: 3;     
}

.fumaca-duplicate{
    display: none;
}

.men-home{
    margin-top: 5rem;
    margin-left: 2rem;
    width: 48rem;
    top: 0;
    z-index: 2;
    overflow: hidden;
    animation: animarMen 54s infinite linear;
}

.container-divisoria{
    display: flex;
    align-items: center;
    justify-content: center;
}

.seta-divisoria{
    position: absolute;
    height: fit-content;
    width: fit-content;
    background-color: var(--cor-blackClaro);
    border-radius: 13rem;
    background: radial-gradient(circle, #413e3e, #413e3e,#b0f432);
    border-radius: 50%;
    padding: 0.3rem;
    width: 1.9rem;
    height: 1.9rem;
    animation: moverSeta 2s infinite;
}


@keyframes moverSeta {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.hidden {
    transform: translateY(-20px);
    opacity: 0;
    transition: opacity 0.5s;
}

.divisor-home{
    z-index: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background: linear-gradient(#2b2b2b, #2b2b2b, #3b3d41);
    width: 100%;
    height: 4rem;
}


@media screen and (max-width: 768px){
    .logo{
        width: 8rem;
    }

    .links{
        display: none;
        flex-direction: column;
        background-color: var(--cor-blackClaro);
        position: absolute;
        top: 100%;
        right: 0;
    }

    .hamburguer{
        display: flex;
    }

    #home{
        max-height: 100vh;
    }

    .home-left{
        margin-left: 0;
    }

    .container-home{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

    .false-btn, .title-home, .subtitle-home, .playlist-btn, .gym-datas{
        margin-top: 5%;
        align-self: center;
    }

    .false-btn{
        margin-top: 5%;
    }

    .subtitle-home p{
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }

    .playlist-btn{
        width: 90%;
    }

    .contact-us{
       padding: 0.3rem;
    }

    .gym-datas{
        margin-top: 1rem;
    }

    .gym-datas div{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-items: center;
    }

    .traco{
        height: 0.5em; 
    }

    .men-home{
        width: auto;
        height: 50vh;
        margin-top: 0;
        margin-left: calc(8vw);
        animation: none;
        z-index: 4;
    }

    .blur-neon{
        transform: rotate(180deg);
        transform: scaleY(-1);
        z-index: 8;
    }

    .fumaca1{
        display: none;
    }

    .fumaca2{
        min-height: 40vh;
        max-width: 100%;
        margin-top: 10rem;
        animation: animarFumaca2 50s ease-in-out infinite;
    }

    .fumaca-duplicate{
        height: 50vh;
        z-index: 5;
        opacity: 80%;
        display: flex;
        animation: animarFumacaDuplicate 20s ease-in-out infinite;
    }

    .seta-divisoria{
        margin-right: 80%;
    }



}


