#plans{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-blackEscuro);
    width: 100%;
    height: 90dvh;
    padding: 5px;
    overflow: hidden;
}


.title h2, .title h1{
    text-align: center;
    font-family: 'Oswald';
    margin-bottom: 0.5rem;
}

.title h2{
    color: var(--cor-neon);
    font-size: 2rem;
}

.container-prices{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container-plans{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 0.8rem;
    width: 100%;
}

.plan{
    text-align: center;
    background-color: var(--cor-cinzaClaro);
    margin-top: 1rem;
    padding: 10px;
    width: 19rem;
    height: 22rem;
    cursor: pointer;
    transition: transform 0.3s ease
}

.description-plan{
    font-family: "Oswald";
    font-size: 1.2rem;
    font-weight: bold;
    margin: 32px 0 16px ; 
} 

.price-plan span{
    font-family: "Oswald";
    font-weight: bold;
    font-size: 3rem;
}

.plan ul{
    margin-top: 1.8rem;
    list-style-type: none; 
}

.plan ul li{
    font-size: 15px;
}

.join-btn{
    margin-top: 2rem;
    padding: 10px;
    border-radius: 5px;
    border: transparent;
    background-color: var(--cor-branco);
    font-weight: bold;
    color: var(--cor-blackEscuro);
    cursor: pointer;
}

.premium{
    position: relative;
    background-color: var(--cor-neon);
    color: var(--cor-blackEscuro);
}

.popular{
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--cor-branco);
    color: var(--cor-blackEscuro);
    font-weight: bold;
    padding: 8px 10px;
    border-radius: 5px;
}

.premium .join-btn{
    background-color: var(--cor-blackEscuro);
    color: var(--cor-branco);
}

.bi-fire{
    color: #fc4d36;
}

.container-balls{
    background-color: var(--cor-blackClaro);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: fit-content;
    margin: 8px auto;
    border-radius: 10px;  
    z-index: 2;
}

.ball-swich {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ball{
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border: solid 3px white;
    border-radius: 50%;
    cursor: pointer;
}

.active-ball{
    background-color: #fc4d36;
}

.selected-plan{
    transition: opacity 0.3s ease;
    transform: translateY(-8px);
}

.selected-no-premium{
    background-color: rgb(255, 255, 255);
    color: var(--cor-blackEscuro);
}

.selected-no-premium .join-btn{
    background-color: var(--cor-neon);
    color: var(--cor-blackEscuro);
}

.divisor-plans{
    z-index: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background: linear-gradient(#2b2b2b,#2b2b2b,#3b3d41);
    width: 100vw;
    height: 4rem;
}

@media screen and (max-height: 600px) {
    #plans{
        height: auto;
    }
}

@media screen and (max-width: 800px){
    

    .container-plans{
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        justify-content: flex-start;
        gap: 0.5rem;      
        scrollbar-width: none;
    }

    .plan{
        scroll-snap-align: center;
        min-width: 90%;
    }

    .selected-plan{
        transition: opacity 0.8s ease;
        transform: translateY(-4px);
    }

}


