#team{
    position: relative;
    background-color: var(--cor-blackClaro);
    height: 90vh;
    padding: 5px;
}

.container-carousel{
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 3rem;
}

.personal-carousel {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.personal{
    display: flex;
    min-width: 100%;
    justify-content: center;
}

.img-personal{
    position: relative;
}

/* estilo das chevrons = chevronsfeedback */

.container-carousel .container-chevrons .chevrons i:not(:last-child){
    margin-left: 3rem;
}

.container-carousel .container-chevrons .chevron{
    background-color: var(--cor-blackEscuro);
    
}

.container-carousel .container-chevrons{
    width: fit-content;
    left: 50%; /* Posiciona o centro da div na metade do container pai */
    transform: translateX(-70%);
    bottom: 20%;
}

.function-description{
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: 0.3rem 0.8rem;
    align-items: center;
    gap: 0.3rem;
    background-color: var(--cor-blackEscuro);
    border-radius: 13rem;
    margin-bottom: 3rem;
}

.function-description img{
    background: radial-gradient(circle, #413e3e, #413e3e,#b0f432);
    border-radius: 50%;
    padding: 0.3rem;
    width: 2rem;
    height: 2rem;
}

.descriptions h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.personal-description{
    max-width: 600px;
}



